@import '../../assets/colors/colors.scss';

.details-card-wrapper {
    height: 25rem;
    width: 20rem;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    .info-wrapper {
        justify-self: flex-end;
        margin: 0.4rem 0.7rem;
        display: inherit;
        flex-direction: column;
        font-size: 1.2rem;
    }
    .btn-wrapper {
        width: 100%;
        display: inherit;
        justify-content: center;
        margin-top: auto;
    }
}