.main-wrapper {
    max-width: 90vh;
    max-height: 80vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    .input-wrapper{
        display: inherit;
        flex-direction: row;
        align-self: center;
    }
    .countries-wrapper {
        margin-top: 0.7rem;
        display: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        scrollbar-width: none;
    }
}