.main-wrapper {
    max-width: 70vw;
    max-height: 95vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    .input-wrapper{
        display: inherit;
        flex-direction: row;
        align-self: center;
    }
    .countries-wrapper {
        margin-top: 0.7rem;
        display: inherit;
        overflow: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
          }
        a {
            text-decoration: none;
        }
    }
}